.maindiv {
  width: 100%;
}
:root {
  --bckimg: url("https://www.niser.ac.in/library/sites/default/files/slider/New%20Arrivals.png");
  --bgc: rgb(121, 56, 16);
  --txtcol:black;
}
.change {
  --bckgColor: black;
  --bckimg: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShKHAKbNFhS1BFrpraWOx25MXUUx08JW2HRA&usqp=CAU");
  --color: white;
  --BColor: white;
  --bgc: rgb(138, 135, 135);
  transition: all 0.1s;
}
.heading {
  text-align: center;
  color: rgb(163, 183, 219);
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 8px;
  width: 49%;
  margin: auto;
  background-color: rgb(60, 60, 136);
}
.title {
  color: rgb(5, 4, 4);
}
.search {
  text-align: center;
  margin-top: 1%;
}
.search input {
  padding: 1%;
  width: 40%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid white;
}
.search button {
  padding: 1%;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border: 1px solid white;
}
body {
  margin: 0;
  background-repeat: no-repeat !important;
  min-height: 100vh;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-color: var(--bckgColor);
  color: var(--color);
  background-image: var(--bckimg);
}
.dispBook {
  width: 100%;
  margin-top: 2%;
  color: white;
}
.bookcards {
  width: 90%;
  margin: auto;
  opacity: 0.9;
  border-radius: 5px;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(248, 239, 221);
  box-shadow: rgba(205, 214, 218, 0.12) 0px 2px 4px 0px,
    rgba(232, 240, 243, 0.32) 0px 2px 16px 0px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
  background-color: var(--bgc);
  color: var( --txtcol);
}
.imgageBook {
  width: 15%;
  text-align: center;
}
.authorDetails a {
  text-decoration: none;
  color: black;
}
.imgageBook img {
  width: 90%;
  margin: auto;
}
.authorDetails {
  width: 65%;
  padding-left: 1%;
}
.sidebtns {
  width: 20%;
  align-items: center;
  padding-top: 6%;
}
#borrow {
  border: 1px solid rgb(29, 122, 165);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 2%;
  margin-bottom: 4%;
  width: 80%;
  font-size: 1.5vw;
  background-color: rgb(29, 122, 165);
}
.read {
  border: 1px solid rgb(22, 197, 45);
  color: white;
  padding: 2%;
  width: 80%;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5vw;
  background-color: rgb(22, 197, 45);
}
#corrTitle {
  text-align: center;
}
@media screen and (max-width: 900px) {
  .dispBook {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 900px) {
  .bookcards {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .title {
    text-align: center;
  }
}
.bookCovers {
  display: inline-flex;
}
.theme {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.theme button {
  width: 6%;
  padding: 0.5%;
  margin-left: 90%;
  color: rgb(252, 249, 249);
  font-size: 1vw;
  background-color: rgb(57, 90, 180);
  border: 1px solid  rgb(57, 90, 180);
  cursor: pointer;
  border-radius: 10px;
}
.movetop{
  position: sticky;
  bottom: 0;
  padding: 1%;
  border-radius: 50%;
  background-color: beige;
  float: right;
  margin-right: 1%;
}
.movetop:hover{
  background-color: rgb(70, 179, 27);

}